## List , Tuple,dict and Set

### list
* indexing
* mutable [changed]  ==> add or remove element
* ordered  ==> the order of element in a list 
* allow duplicates
* dynamic ==> scalable
* []

#

In [7]:
x=[1,2,3]
print(type(x))
print(id(x),id(x[0]))   # id of list and Id of first element
print(x)

<class 'list'>
2294088913664 2294008643824
[1, 2, 3]

In [10]:
x=[2,3,50,'nader',1.35,False]
x[4]="kareem"
print(x)

[2, 3, 50, 'nader', 'kareem', False]

In [16]:
name='Ramzy'
print(type(name))

<class 'str'>

In [17]:
for x in name:
    print(x)

R
a
m
z
y

In [18]:
name[3]

'z'

In [19]:
for i in range(len(name)):
    print(i)

0
1
2
3
4

In [21]:
name[-1]='i'            # string immutable

TypeError: 'str' object does not support item assignment

In [25]:
list_name=list(name)
list_name[-1]='i'
list_name

['R', 'a', 'm', 'z', 'i']

In [27]:
strName=''.join(list_name)
print(strName, type(strName))

Ramzi <class 'str'>

## Indexing

In [29]:
x=[2,3,67,'Ali','Ahmed',False]
#  0  1  2    3      4      5
#  -6 -5  -4  -3    -2     -1  
x[-6]

2

In [30]:
x.append(37.5)
x

[2, 3, 67, 'Ali', 'Ahmed', False, 37.5]

In [31]:
x.remove(0)  # ==> remove value of zero not an index "False"

In [32]:
x

[2, 3, 67, 'Ali', 'Ahmed', 37.5]

In [33]:
x.remove(100)

ValueError: list.remove(x): x not in list

In [35]:
x.remove(2)
x

[3, 67, 'Ali', 'Ahmed', 37.5]

In [31]:
x.append(1)
x

[3.67, 'Ali', 'Ahmed', 37.5, 1, 1, 2, 3, 6, 1]

In [27]:
x=[3.67,'Ali','Ahmed',37.5,1]

In [32]:
x.extend([1,2,3,6])
x

[3.67, 'Ali', 'Ahmed', 37.5, 1, 1, 2, 3, 6, 1, 1, 2, 3, 6]

In [29]:
x.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

## Sorting

In [30]:
list1=[6,8,1,3,7,5,6,9]
list1.sort()
list1.reverse()  # ==> dec
print(list1)

[9, 8, 7, 6, 6, 5, 3, 1]

### Searching

In [33]:
x

[3.67, 'Ali', 'Ahmed', 37.5, 1, 1, 2, 3, 6, 1, 1, 2, 3, 6]

In [34]:
'ali' in x

False

In [35]:
x.index("ali")

ValueError: 'ali' is not in list

In [36]:
for val in x:
    print(val)

3.67
Ali
Ahmed
37.5
1
1
2
3
6
1
1
2
3
6

## Dictionary

|||
| --| --|
|key1       | value1|
|key2       | value2|
|key3       | value3|

* ordered (Starting from python v3.6+)
* changable
* duplicated not allowed in key

In [1]:
student={"lastname":"Hani","firstname":["Ali","Ahmed"] ,"grade":100}

In [2]:
student

{'lastname': 'Hani', 'firstname': ['Ali', 'Ahmed'], 'grade': 100}

In [3]:
print(type(student))

<class 'dict'>

In [4]:
student['firstname'][0]

'Ali'

In [5]:
student['gender']='male'

In [6]:
student

{'lastname': 'Hani',
 'firstname': ['Ali', 'Ahmed'],
 'grade': 100,
 'gender': 'male'}

In [7]:
d={1:"one",2:"two"}

In [8]:
d[1]

'one'

In [9]:
d.pop(1)

'one'

In [10]:
d

{2: 'two'}

### Loop

In [13]:
for item in student:
    print(item)
print('----------------------------') 
for item in student.keys():
    print(item)

lastname
firstname
grade
gender
----------------------------
lastname
firstname
grade
gender

In [14]:
for val in student.values():
    print (val)

Hani
['Ali', 'Ahmed']
100
male

In [15]:
for k,v in student.items():
    print(k,v)

lastname Hani
firstname ['Ali', 'Ahmed']
grade 100
gender male

### Search

In [16]:
"lastname" in student.keys()

True

In [17]:
0 in student.values()

False

## Set
* duplicate ==> Don't allow
* Unorder
* Unindexed
* Immutable

In [20]:

myset={1,2,5,8}
print(type(myset),myset)

<class 'set'> {8, 1, 2, 5}

In [21]:
myset.update({3,5,7,"hani"})

In [22]:
myset.clear()
myset

set()

In [23]:
 del myset
 myset

NameError: name 'myset' is not defined

In [24]:
myset={3,6,8}
print(type(myset))

<class 'set'>

In [25]:
1 in myset

False