In [1]:
input("Enter Your Name:")

'Nader Elsayed'

### # Given a list of numbers, Calculate and print the sum of the list.

In [1]:
list1=[2, 0, 3, 14, 76, 5, 8]
print(sum(list1))

108

In [3]:
list1=[2, 0, 3, 14, 76, 5, 8]
sum=0
for i in list1:
    sum+=i
print(sum)

108

### # Given a list of numbers, Write a Python program to print the even number of this list.

In [4]:
list2=[2, 0, 3, 13, 76, 5, 8, 10, 1, 33, 42]
for count in list2:
    if count %2==0:
        print(count)

2
0
76
8
10
42

### Given 2 numbers a, b, Write a Python program to print the result of division a / b if b isn't zero and print "Error!! Division by zero" if b is zero

In [6]:
a=int(input())
b=int(input())
# condition
if b==0:
   	print("The result = ",0)
else:
	print("The result = ", a / b)

The result =  0

In [5]:
a=10
b=2
if (b!=0):
    print(a/b)
else:
    print("Error !! Division by zero")

5.0

### Iterate over the following list, and print a new line for each element to match the follwing conditions: 
*  Print "Even less than 10" if the number is even and less than 10.
*  Print "Even greater than 10" if the number is even and greater than 10.
*  Print "Odd less than 10" if the number is odd and less than 10.
*  Print "Odd greater than 10" if the number is odd and greater than 10.
*  Print "Zero" if the number is zero.

In [7]:
list3=[2, 0, 3, 13, 76, 5, 8, 10, 1, 33, 42]

In [12]:
for i in list3:
    if i % 2 ==0 and i < 10 :
        print("Even less than 10")

Even less than 10
Even less than 10
Even less than 10

In [10]:
for i in list3:
    if i % 2 ==0 and i > 10 :
        print("Even greater than 10")

Even greater than 10
Even greater than 10

In [14]:
for i in list3:
    if i % 2 !=0 and i < 10 :
        print("Odd less than 10")

Odd less than 10
Odd less than 10
Odd less than 10

In [15]:
for i in list3:
    if i % 2 !=0 and i > 10 :
        print("Odd greater than 10")

Odd greater than 10
Odd greater than 10

In [17]:
for i in list3:
    if i == 0  :
        print("zero")

zero

### Find the index of the value "76" in the following list , 
* add this index to the end of the list,
* then sort this list 
* print the list and its lenght.

In [31]:
list4=[2, 0, 3, 13, 76, 5, 8, 10, 1, 33, 42]

In [32]:
Index=list4.index(76)
Index

4

In [33]:
list4.append(Index)
list4.sort()
print(list4 , len(list4))

[0, 1, 2, 3, 4, 5, 8, 10, 13, 33, 42, 76] 12

### Given the following dictionary, 
* Change the value of age to be 42 
* add a key to the dictionary named "last_name" and set its value to 'Turing'
* remove the country key 
* print the result dictionary

In [43]:
dict_1 = {'first_name': 'Alan', 'age': 26, 'country': 'England'}
dict_1['age']=42
dict_1

{'first_name': 'Alan', 'age': 42, 'country': 'England'}

In [44]:
dict_1["last_name"]="Turing"

In [48]:
dict_1.pop('country')

'England'

In [49]:
print(dict_1)

{'first_name': 'Alan', 'age': 42, 'last_name': 'Turing'}

#### Given the following set:
* Add number 10 to the set
* Then add the following numbers to the set: 6, 4, 5
* remove the element 'Ali'
* print the set

In [50]:
set_1 = {1, 2, 3, 7.5, 'Ali'}

In [54]:
set_1.update({10})
set_1

{1, 10, 2, 3, 7.5, 'Ali'}

In [55]:
set_1.update({6,4,5})

In [56]:
set_1.remove("Ali")

In [57]:
set_1

{1, 2, 3, 4, 5, 6, 7.5, 10}